<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTCTE</title>
    <!-- Your head content goes here -->
</head>
<body>

    <!-- Your main content goes here -->

    <footer>
        <p>Developer: Cristiano, Copyright 2023</p>
    </footer>

</body>
</html>
